@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

.header__video {
    width: 100%;
    maxheight: 700px;
    object-fit: fill;
    height: auto;

}

header__body {
    background-color: whitesmoke;
}

.header__top h4 {
    display: none;
}

.animatedText {
    height: 5vh;
    top: 10rem;
    margin-top:
}

header__text {
    height: 250px;
    color: #C69320;
    margin: auto;
    text-align: center;
    position: absolute;
    fnt-size: 52px;
    top: 42px;
    left: 90px;
    font-family: 'Rubik Moonrocks', cursive;

}

.header__text {
    position: absolute;
    top: 100px;
    margin-left: .5rem;
    font-size: 52px;
    font-family: montserrat;
    font-family: 'Reggae One', cursive;
    mix-blend-mode: lighten;



}
.header__h1-1 {
    text-align: center;
    color: #12a2e1;
    display: flex;
    margin-left: 17rem;
}

.header__h1-2 {
    text-align: center;
    display: flex;
    margin-left: 11rem;
    color: #12a2e1;
}

.navbar {
    position: absolute;
    align-items: center;
}

@media screen  and (max-width: 1050px) {
    .header__top h4 {
        display: flex;
        width: 600px;
        font-size: 18px;
        text-align: center;
        margin-top: 5rem;
        margin-left: 1rem;
        color: #12a2e1;
    }
    .header__text {
        font-size: 20px;
    }

    .header__h1-1 {
        margin-left: 9rem;
    }

    .header__h1-2 {
        margin-left: 6rem;
    }


}