.anouncement {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
}

.anouncement__content > img {
    width: 75rem;
    height: 30rem;
    border-radius: 10px;
    box-shadow: 0px 5px 7px 8px rgba(0, 0, 0,.24);
}
.anouncement__content > img {
       /* ff 3.6+ */
       background:-moz-linear-gradient(90deg, rgba(0, 188, 212, 0.04) 0%, rgba(14, 95, 113, 0.27) 50%, rgba(130, 195, 238, 1) 100%); 

       /* safari 5.1+,chrome 10+ */
       background:-webkit-linear-gradient(90deg, rgba(0, 188, 212, 0.04) 0%, rgba(14, 95, 113, 0.27) 50%, rgba(130, 195, 238, 1) 100%);
   
       /* opera 11.10+ */
       background:-o-linear-gradient(90deg, rgba(0, 188, 212, 0.04) 0%, rgba(14, 95, 113, 0.27) 50%, rgba(130, 195, 238, 1) 100%);
   
       /* ie 6-9 */
       filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#82C3EE', endColorstr='#00BCD4', GradientType=0 );
   
       /* ie 10+ */
       background:-ms-linear-gradient(90deg, rgba(0, 188, 212, 0.04) 0%, rgba(14, 95, 113, 0.27) 50%, rgba(130, 195, 238, 1) 100%);
   
       /* global 94%+ browsers support */
       background:linear-gradient(90deg, rgba(0, 188, 212, 0.04) 0%, rgba(14, 95, 113, 0.27) 50%, rgba(130, 195, 238, 1) 100%);
   
}

@media screen and (max-width: 1050px) {
    .anouncement {
        positon: relative;
    }

    .anouncement__content > img {
        width: 39rem;
        height: 20rem;
        margin-top: 2rem;
    }
                             
    
                

        
    
}