.photos__row {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(8, 5vw);
    grid-gap: 15px
}

.column {
    flex: 50%;
}

.photos-1,
.photos-2,
.photos-3,
.photos-4,
.photos-5,
.photos-6,
.photos-7,
.photos-8,
.photos-9,
.photos-10,
.photos-11,
.photos-12 {
    width: 300px;
    height: 250px;
    background-color: grey;
    border: 1px solid black;
    margin-top: 8px;
    vertical-align: middle;

}   