.service {
    height: 23rem;
    padding-top: 15px;

    background-color: rgb(0.4,0,0.4);
    background-color: rgba(0.4,0,0, 0.4);
    background-color: #404040;
    color: #E1C16E;
    font-weight: bold;
    border: 3px solid grey;
    text-align: center;
}

.service__head {
    padding-top: 10px;
    text-align: center;
    font-style: italic;
    font-weight: 800;
    font-size: 52px;
    font-family: Roboto;
    color: #fff;
}

.service- {
    width: 80%;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    paddng-left: 55rem;
    border-collapse: collapse;
    color: #fff;
    border-spacing: 6;
}

table td:nth-child(2) {
    transform: translateX(10rem);
  }

table td:nth-child(3) {
    transform: translateX(5rem);
  }
  
  table td:nth-child(1) {
    transform: translateX(5rem);
  }
  

.service__tbody {
    padding-left: 0rem;
    border-spacing: 6rem;
}

tr.service__sunday td {
}

tr.service__sunday2 td {
    width: ;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    bottom: 25px;
}

tr.service__tuesday td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

tr.service__thursday td {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
}

tr.service__friday td {
    padding-top: 10px;
}

.service__event {
    margin-top: 15px !important;
    margin-left: 10px !important;
    margin-bottom: 15px !important;
    padding: 15px !important;
    border-radius: 30px !important;
    box-shadow: 0px 2px 5px -2px rgba(0, 0, 0, 0.75);
}

.service__event:hover {
    color: #16274f;
}

.service .MuiSvgIcon-root:hover {
    cursor: pointer;
    color: white;

}

.service .MuiSvgIcon-root {
    color: #16274f;
}

  